/* CSS para salvar estilos gerais */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    /* Caminho relativo para a imagem de fundo */
    background-image: url('imagens/clubenatacao.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    color: rgb(0, 0, 0); 
  }
  
  input, button {
    margin: 10px 0;
    padding: 8px;
  }
  
  .resultado {
    margin-top: 15px;
  }
  
  pre {
    font-family: monospace;
  }
  
  .resultado-info {
    font-weight: bold;
  }